
body h1
  text-align center

.readme
  margin-left auto
  margin-right auto
  width 650px

a
  color grey

a.anchor
  visibility hidden
  text-decoration none

h1:hover, h2:hover, h3:hover
  a.anchor
    visibility visible

