!!! 5
html
  head
    !{renderStyleTags("my")}
    !{renderScriptTags("my")}
  body
    #container
      ul
        li
          a(href="#") eka
        li
          a(href="#") toka

      .readme !{readme}
