html
  font-family Lucida,Helvetica,Arial,sans-serif
  font-size 10pt

body h1
  text-align center

.readme
  margin-left auto
  margin-right auto
  width 650px

a
  color grey

a.anchor
  visibility hidden
  text-decoration none


span.anchor
  visibility hidden
  // color red
  // opacity 0.5
  position relative
  display block

code
  padding-left 1em !important
  padding-right 1em !important
  overflow auto

.toc
  position fixed
  ul
    list-style none
    padding-left 1em

h1,h2,h3,h4,h5

  padding 0.5em
  border-radius 10px

  &.selected
    background-color #DDD

  &:hover a.anchor
    visibility visible

.toc .header
  padding 0px
  margin 0px
  font-size 13pt

@media all and (max-width: 980px)
  .toc
    display none


.toc
  width 200px
  // z-index -1
  margin-top 1em
  margin-left 10px
  font-size 8pt
  a
    text-decoration none
    &:hover
      background-color #DDD
      color black


.d2
  margin-left 0em
.d3
  margin-left 1em
.d4
  margin-left 2em
.d5
  margin-left 3em

