/* file: style_styl_9dd561bc4b */
body h1 {
  text-align: center;
}
.readme {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}
a {
  color: #808080;
}
a.anchor {
  visibility: hidden;
  text-decoration: none;
}
h1:hover a.anchor,
h2:hover a.anchor,
h3:hover a.anchor {
  visibility: visible;
}